<app-header [pageTitle]="pageTitle" [pageIcon]="pageIcon"></app-header>


<ion-content>
  <ion-list  position="absolute" lines="none" *ngIf="listarPersonajes.length">
    <ion-item *ngFor="let character of listarPersonajes">
        <ion-avatar slot="start">
          <img [src]="character.thumbnail.path+'.'+character.thumbnail.extension" alt="{{character.name}}">
        </ion-avatar>
        <ion-label>
          <h2>{{character.name}}</h2>
          <ion-note>
            <p>Modified</p>
            <p>{{character.modified | date}}</p>
          </ion-note>
        </ion-label>
        <ion-icon name="chevron-forward-outline" (click)="goToDetallePersonaje(character)"></ion-icon>
    </ion-item>
  </ion-list>

    <!-- Carga lista Skeleton-->

  <ion-list *ngIf="!listarPersonajes.length">
    <ion-item *ngFor="let listarPersonajes of [1,2,3,4,5,6,7,8]">
      <ion-avatar slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
        </h3>
        <ion-note>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
    
</ion-content>
