<app-header [pageTitle]="pageTitle" [pageIcon]="pageIcon"></app-header>



<ion-content>
  <ion-slides class="text-align-text">
    <ion-slide>
      <h1>  </h1>
      <ion-card>
        <ion-card-header>
          <ion-thumbnail>
            <img src="../../../assets//img/Mi-Cara.png" alt=" mi cara">
          </ion-thumbnail>
          <ion-card-title>Marco Alexis Sanhueza Gomez</ion-card-title>
          <ion-card-subtitle>20.2020.364-9</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Analista programador Computacional
          Me gusta jugar lol, me gusta rapear, mi sueño es ir a francia y conocer la torre eiffel
        </ion-card-content>
      </ion-card>
    </ion-slide>
      <!---------------------------->
    <ion-slide>
      <h1>  </h1>
      <ion-card>
        <ion-card-header>
          <ion-thumbnail>
            <img src="../../../assets/img/Cara-ivan.png" alt=" ivan cara">
          </ion-thumbnail>
          <ion-card-title>Ivan Andres Aguilera Jara</ion-card-title>
          <ion-card-subtitle>20.557.432-8</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Analista programador Computacional
          Me gusta leer, me gusta salir a parques, y mi sueño es viajar por el mundo.
        </ion-card-content>
      </ion-card>
    </ion-slide>
      <!---------------------------->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-thumbnail>
            <img src="../../../assets/img/nicolas-cara.png" alt="cara nicolas ">
          </ion-thumbnail>
          <ion-card-title>Nicolas Anderson Cruz Gonzalez</ion-card-title>
          <ion-card-subtitle>20.615.450-0</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Analista Programador Computacional
          Me gusta jugar lol, me gusta jugar futbol y mi sueño es viajar a Dubai
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
