<app-header [pageTitle]="pageTitle" [pageIcon]="pageIcon"></app-header>


<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title color="danger">Bienvenido A Marvel Apps</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          Marvel comic fundado en...
        </ion-card-content>

        <!-- CARRUSEL 1   HAY QUE APLICAR FOR PARA OPTIMIZAR CODIGO-->
    
        <ion-card-content>
            <ion-slides>
                <ion-slide>
                    <h1>  </h1>
                    <img src="../../../assets/img/marvelslide0.png" alt="Marvel Comics">
                </ion-slide>
                <ion-slide>
                    <h1>  </h1>
                    <img src="../../../assets/img/marvelslide1.jpg" alt="Marvel Comics">
                </ion-slide>
                <ion-slide>
                    <h1>  </h1>
                    <img src="../../../assets/img/marvelslide2.png" alt="Marvel Comics">
                </ion-slide>
            </ion-slides> 
        </ion-card-content>

        <!-- CARRUSEL 2 -->

        <ion-card-content>
            Ultimos más vistos
          </ion-card-content>

          <ion-card-content>
            <ion-slides>
                <ion-slide>
                    <h1>  </h1>
                    <img src="../../../assets/img/comic2.png" alt="Marvel Comics">
                </ion-slide>
                <ion-slide>
                    <h1>  </h1>
                    <img src="../../../assets/img/comic3.png" alt="Marvel Comics">
                </ion-slide>
                <ion-slide>
                    <h1>  </h1>
                    <img src="../../../assets/img/comic1.PNG" alt="Marvel Comics">
                </ion-slide>
            </ion-slides> 
        </ion-card-content>

        <!-- CARRUSEL 3 -->

        <ion-card-content>
            Recomendados..
          </ion-card-content>

        
          <ion-card-content>
            <ion-slides>
                <ion-slide>
                    <h1>  </h1>
                    <img src="../../../assets/img/comic4.png" alt="Marvel Comics">
                </ion-slide>
                <ion-slide>
                    <h1>  </h1>
                    <img src="../../../assets/img/comic5.png" alt="Marvel Comics">
                </ion-slide>
                <ion-slide>
                    <h1>  </h1>
                    <img src="../../../assets/img/comic6.png" alt="Marvel Comics">
                </ion-slide>
            </ion-slides> 
        </ion-card-content>  

        <ion-card-content></ion-card-content>
    </ion-card>
</ion-content>
